<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>		
		<add key="From" value="arshiyapathan419@gmail.com" />
		<add key="To" value="ik95241@gmail.com;myemail@gmail.com;munwar0101@gmail.com" />
		<add key="FromEmailDisplayName" value="anyname" />
		<add key="FromEmailPassword" value="Arshiya@1997" />
		<add key="SMTPHost" value="smtp.gmail.com" />
		<add key="SMTPPort" value="25" />
	</appSettings>
</configuration>